<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>metroDentusa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54B79E3C1FE2502D00692E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54B79E501FE2502E00692E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54B79E5B1FE2502E00692E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
